<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <link rel="stylesheet" href="dashboard.css" />
    <style>
      a {
        text-decoration: none;
      }
      html,
      body {
        min-height: 100%;
      }

      .sidebar {
        background-color: var(--bs-gray-800);
        flex: 0.2;
        height: 100vh;
      }

      .sidebar--page.active {
        color: white;
        background-color: var(--bs-gray-700);
      }

      .sidebar--page {
        color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
      }

      .sidebar--page:hover {
        background-color: var(--bs-gray-700);
      }

      .metric-box {
        border: 1px solid var(--bs-gray);
      }
    </style>
    <title>Dashboard</title>
  </head>
  <body>
    <div class="row h-100 d-flex">
      <!-- SIDEBAR -->
      <div class="col-3 flex-grow-1">
        <div class="sidebar p-2 pt-5 h-100">
          <div class="h-100 d-flex flex-column justify-content-between">
            <div>
              <a href="/api/v1/admin/dashboard">
                <div class="sidebar--page active my-1 p-2 fs-5 rounded">
                  Dashboard
                </div>
              </a>
              <a href="/api/v1/admin/sessions">
                <div class="sidebar--page my-1 p-2 fs-5 rounded">Sessions</div>
              </a>
              <a href="/api/v1/admin/plans">
                <div class="sidebar--page my-1 p-2 fs-5 rounded">Plans</div>
              </a>
              <a href="/api/v1/admin/members">
                <div class="sidebar--page my-1 p-2 fs-5 rounded">Memebers</div>
              </a>
              <a href="/api/v1/admin/staff">
                <div class="sidebar--page my-1 p-2 fs-5 rounded">Staff</div>
              </a>
              <a href="/api/v1/admin/payments">
                <div class="sidebar--page my-1 p-2 fs-5 rounded">Payments</div>
              </a>
            </div>

            <div class="p-2">
              <button class="btn btn-danger w-100" onclick="logout()">Sign out</button>
            </div>

          </div>
        </div>
      </div>
      <!-- SIDEBAR -->

      <div class="col-9">
        <main class="p-3 pt-5">
          <h2 class="mb-3">Dashboard</h2>
          <!-- METRICS -->
          <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
              <div class="metric-box rounded p-2">
                <h2>5</h2>
                <p>Total Members</p>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
              <div class="metric-box rounded p-2">
                <h2>1200 L.E</h2>
                <p>Total Revenue</p>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
              <div class="metric-box rounded p-2">
                <h2>2.57</h2>
                <p>Daily Average Attendance</p>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
              <div class="metric-box rounded p-2">
                <h2>100%</h2>
                <p>Membership Renewals</p>
              </div>
            </div>
          </div>
          <!-- METRICS -->

          <div class="row mt-5">
            <div class="col-12 col-lg-8">
              <div class="card rounded h-100 p-2">
                <h2>Membership Growth</h2>
                <div
                  class="d-flex flex-column justify-content-center flex-grow-1"
                >
                  <div class="" id="chart1"></div>
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-4">
              <div class="card rounded h-100 p-2">
                <h2>Membership Plans</h2>
                <div
                  class="d-flex flex-column justify-content-center flex-grow-1"
                >
                  <div class="" id="chart2"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-5">
            <div class="col-12">
              <div class="card rounded h-100 p-2">
                <h2>Attendance</h2>
                <div
                  class="d-flex flex-column justify-content-center flex-grow-1"
                >
                  <div class="" id="chart3"></div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>

    <footer
      class="text-center vertical-center p-2"
      style="background-color: rgba(var(--bs-tertiary-bg-rgb), 1)"
    >
      Copy rights reserved
    </footer>

    <script>
      const options = {
        series: [
          {
            name: "Members",
            data: [1, 1, 1, 3, 5, 2, 5, 7, 10, 8, 6, 3, 7, 5, 4, 5, 2, 2, 3, 5],
          },
        ],
        chart: {
          height: 350,
          type: "area",
        },
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: "smooth",
        },
        xaxis: {
          type: "datetime",
          categories: [
            "2024-01-1",
            "2024-01-2",
            "2024-01-3",
            "2024-01-4",
            "2024-01-5",
            "2024-01-6",
            "2024-01-7",
            "2024-01-8",
            "2024-01-9",
            "2024-01-10",
            "2024-01-11",
            "2024-01-12",
            "2024-01-13",
            "2024-01-14",
            "2024-01-15",
            "2024-01-16",
            "2024-01-17",
            "2024-01-18",
            "2024-01-19",
            "2024-01-20",
          ],
        },
        tooltip: {
          x: {
            format: "dd/MM/yyyy",
          },
        },
      };

      const chart = new ApexCharts(document.querySelector("#chart1"), options);
      chart.render();

      const options2 = {
        series: [1, 1, 3,],
        legend: { position: "bottom" },
        chart: {
          type: "pie",
        },
        labels: ["Golden", "Silver", "Bronze",],
        responsive: [
          {
            breakpoint: 480,
            options: {
              chart: {
                width: 200,
              },
              legend: {
                position: "bottom",
              },
            },
          },
        ],
      };

      const chart2 = new ApexCharts(
        document.querySelector("#chart2"),
        options2
      );
      chart2.render();

      var options3 = {
        series: [
          {
            name: "attendance",
            data: [1, 2, 3, 1, 2, 4, 5],
          },
        ],
        chart: {
          height: 350,
          type: "bar",
        },
        plotOptions: {
          bar: {
            borderRadius: 10,
            dataLabels: {
              position: "top", // top, center, bottom
            },
          },
        },
        dataLabels: {
          enabled: true,
          formatter: function (val) {
            return val
          },
          offsetY: -20,
          style: {
            fontSize: "12px",
            colors: ["#304758"],
          },
        },

        xaxis: {
          categories: [
            "Saturday",
            "Sunday",
            "Monday",
            "Tuesday",
            "Wednsday",
            "Thursday",
            "Friday",
          ],
          position: "top",
          axisBorder: {
            show: false,
          },
          axisTicks: {
            show: false,
          },
          crosshairs: {
            fill: {
              type: "gradient",
              gradient: {
                colorFrom: "#D8E3F0",
                colorTo: "#BED1E6",
                stops: [0, 100],
                opacityFrom: 0.4,
                opacityTo: 0.5,
              },
            },
          },
          tooltip: {
            enabled: true,
          },
        },
        yaxis: {
          axisBorder: {
            show: false,
          },
          axisTicks: {
            show: false,
          },
          labels: {
            show: false,
            formatter: function (val) {
              return val + " Members";
            },
          },
        },
      };

      var chart3 = new ApexCharts(document.querySelector("#chart3"), options3);
      chart3.render();
    </script>
  </body>
</html>
