<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <style>
        a{
            text-decoration: none;
        }
        nav{
            margin: auto !important;
            padding: auto;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/home" >home</a></li>
                <li><a href="/logout">logout</a></li>
                <li><a href="/memberships">memberships</a></li>
                
                
            </ul>
        </nav>
    </header>
    <h1>Welcome: <%= user.username%> </h1>
    <h2>Role: <%= user.role%> </h2>
</body>
</html>