<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>

<body>
    <div class="sign-up">
        <h1>Sign Up</h1>
        <div class="container">
            <form action="/api/v1/signup" method="post">
                <div class="content">
                    <label for="firstname">First Name</label>
                    <input class="input" type="text" name="firstname" placeholder="Enter your First Name">
                </div>
                <div class="content">
                    <label for="lastname">Last Name</label>
                    <input class="input" type="text" name="lastname" placeholder="Enter your Last Name">
                </div>
                <div class="content">
                    <label for="username">User Name</label>
                    <input class="input" type="text" name="username" placeholder="Enter your User Name">
                </div>
                <div class="content">
                    <label for="email">Email</label>
                    <input  class="input" name="email" placeholder="Enter your Email">
                </div>
                <div class="content">
                    <label for="password">Password</label>
                    <input class="input" type="password" name="password" placeholder="Enter Password">
                </div>
                <div class="content">
                    <label for="confirmPassword">Confirm Password</label>
                    <input class = "input" type="password" name="confirmPassword" placeholder="Confirm Password">
                </div>
                <div class="content">
                    <label for="phonenumber">Phone Number</label>
                    <input class="input" type="number" name="phonenumber" placeholder="Enter your Phone Number">
                </div>
                <div class="content">
                    <label for="bfd">Birth Date</label>
                    <input class="input"type="date" name="bfd">
                </div>
                <div class="content">
                    <label for="city">City</label>
                    <input class = "input" type="text" name="city" placeholder="Enter your City">
                </div>
                <div class="content">
                    <label for="st">St.</label>
                    <input class="input" type="text" name="st" placeholder="Enter your St.">
                </div>
                <div class="content">
                    <label class="photo" for="photo">photo</label>
                    <input type="file" name="photo" accept="image/*">
                </div>
                <div>
                    
                </div>
                <!-- <div class="content">
                    <h1>Gender</h1>
                    <label class="radio">One
                        <input type="radio" checked="checked" name="radio">
                        <span class="checkmark"></span>
                    </label>
                    <label class="radio">Two
                        <input type="radio" name="radio">
                        <span class="checkmark"></span>
                    </label>
                </div> -->
                <input type="submit" class="full-width hover">
            </form>
        </div>
    </div>
</body>

</html>