<div class="reset">
    <form action="/api/v1/verifyotp" method="post">
        <label for="otp">otp</label>
    <input type="text" name="otp" placeholder="please enter the otp">
    <button type="submit">submit</button>
    </form>
    
</div>