/* ! Start Global Rules */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-image: url(../img/main/gym.jpg);
    /* background-image: radial-gradient(circle at top left, #bdc3c7, #2c3e50); */
    /* background-image: radial-gradient(circle at top left,#232526, #414345); */
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

/* @media (max-width:768px){
    html{
        background-image: radial-gradient(circle at top left,#757575, #414345);
    }
    html::before{
        background: rgba(0, 0, 0, 0);
    }
} */

html::before {
    content: "";
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* ! END Global Rules */


.sign-up {
    background-color: rgba(50, 50, 50, 0.56);
    box-shadow: 0 0 10px 0 #000000;
    max-width: 650px;
    z-index: 100;
}

.sign-up>h1 {
    color: white;
    margin-top: 20px;
    margin-left: 10px;
    position: relative;
    text-align: center;
}

.sign-up > .container form{
    padding: 20px;
    /* display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr)); */
    /* gap: 20px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: fit-content;
    /* width: 600px; */
}

@media (max-width:768px) {
    .sign-up> .container form {
        width: 500px;
    }
}

@media (max-width:500px) {
    .sign-up > .container form {
        width: 300px;
    }
}

.sign-up > .container form .content label {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    color: white;
}


.sign-up > .container form .content .input{
    padding: 12px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid #333;
    background-color: #333;
    color: white;
    box-shadow: 0 18px 25px -12px inset rgb(33, 28, 28);
}

.sign-up > .container form .content input:focus {
    outline: none;
}

.sign-up > .container form .content input::placeholder {
    transition: opacity 0.4s;
}

.sign-up > .container form .content input:focus::placeholder {
    opacity: 0;
}

.sign-up > .container form .content input[type="number"]::-webkit-inner-spin-button,
.sign-up > .container form .content input[type="number"]::-webkit-outer-spin-button {
    display: none;
}

.sign-up > .container form .content input[type="date"] {
    color: #757575;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    color: aqua;
}

/* input::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1
} */

.sign-up > .container form input[type="submit"] {
    display: block;
    padding: 10px 268px;
    background-color: rgba(50, 50, 50, 0.56);
    border: 0px solid #757575;
    color: white;
    font-size: 18px;
    /* border: none; */
    border-radius: 8px;
    text-align: center;
    transition: 0.4s;
    z-index: 1;
    position: relative;
}

.login > .container form input[type="submit"]:hover{
    background-color: #333;
}

@media (max-width:768px) {
    .sign-up > .container form input[type="submit"] {
        padding: 10px 100px;
    }
}

/* .full-width {
    grid-column: 1 / 3;
} */


/* ! RADIO BUTTON  */

.radio{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #999;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio:hover input~.checkmark {
    background-color: #999;
}

/* When the radio button is checked, add a blue background */
.radio input:checked~.checkmark {
    background-color: #999;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

::file-selector-button {
    background: rgba(50, 50, 50, 0.56);
    color: white;
    border:none;
    border-radius: 5px;
    padding: 10px
}

input[type=file] {
    /* position: relative; */
    width: 100%;
    border: none;
    color:#999;
    padding: 10px;
    margin-left: -50px;
    border-radius: 5px;
    font-size: 20px;
    text-transform: lowercase;
    margin-bottom: 10px;
}

.photo{
    margin-left: -100px;
}