<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members List</title>
    <style>
        .session {
            padding: 10px;
            margin: 5px;
            border: 1px solid #ccc;
        }
    </style>
</head>
<body>
    <h1>Availible Sessions</h1>
    <div id="membersList">
        <% classes.forEach(session => { %>
            <div class="session">
                <h3><%= session.name %></h3>
                <form action="/api/v1/admin/members/<%=memberId%>/<%=session._id%>/sign-member-to-class" method="post">
                    <input type="hidden" name="sessionId" value="<%= session._id %>">
                    <input type="submit" value="Select">
                </form>
            </div>
            <% }); %>
        </div>
</body>
</html>
