<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members List</title>
    <style>
        .member {
            padding: 10px;
            margin: 5px;
            border: 1px solid #ccc;
        }
    </style>
</head>
<body>
    <h1>Members List</h1>
    <div id="membersList">
        <% members.forEach(member => { %>
            <div class="member">
                <h3><%= member.username %></h3>
                <p><%= member.checkInCode %></p>
                <form action="/api/v1/admin/members/<%=member._id%>" method="get">
                    <input type="hidden" name="memberId" value="<%= member._id %>">
                    <input type="submit" value="Add To Cart" class="btn btn-danger w-50">
                </form>
            </div>
        <% }); %>
        </div>
</body>
</html>
