<!-- myClasses.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Classes</title>
</head>
<body>
    <h1>My Classes</h1>
    <% paginatedMembers.forEach(function(session) { %>
      
            <div class="session">
               
                    <%= session.name %>
                    <h2><%= session._id %></h2>
                
           
            <form action="/api/v1/member/my-classes/unEnroll-session/<%=session._id%>" method="post">
                <button type="submit">Un Enroll</button>
            </form>
        </div>
            <% }); %>
            
</body>
</html>
