<div class="forgett">
    <form action="/api/v1/forgettPassword" method="post">
        <label for="email">email</label>
    <input type="text" name="email" placeholder="please enter your email">
    <button type="submit">submit</button>
    </form>
    
</div>