<div class="setnewpwd">
    <form action="/api/v1/setNewPassword/<%=user._id%>" method="post">
        <label for="otp">otp</label>
        <input type="text" name="password" placeholder="please enter new password">
        <input type="text" name="confirmPassword" placeholder="please confirm your password">
        <button type="submit">submit</button>
    </form>
    
</div>